<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <title>Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <style>
    .xyz{
      margin-bottom: 0px;
      background-size: cover;
      background-repeat: no-repeat;
    }
</style>
<body>

  <div class="container">
    <h2>Carousel</h2>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
  
      
      <div class="carousel-inner">
  
        <div class="item active">
          <img src="static/image/2.jpg"  style="width:100%;">
          
        </div>
  
        <div class="item">
          <img src="static/image/1.jpg" style="width:100%;">
        </div>
      
        <div class="item">
          <img src="static/image/3.png"  style="width:100%;">
          
        </div>
    
      </div>
  
      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>

  {% include "insurance/navbar.html" %}
<br>
<section id="section-jumbotron" style="margin-bottom: 0px;" class="jumbotron jumbotron-fluid d-flex justify-content-center align-items-center xyz">
  <div class="container text-center">
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    
  </div>  
</section>


<div class="jumbotron" style="margin-top: 0px;margin-bottom: 0px;">

  <!-- <p class="lead text-center"> “Whole life does two things for you: Protects your family and allows you to save for your future.”
    </p>
  
  <p class="text-center">- Dinara</p> -->
  
</div>
  {% comment %} {% include "insurance/footer.html" %} {% endcomment %}


</body>

</html>
